In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv('iris.csv')
df.head()

,sepallength(cm),sepalwidth(cm),petallength(cm),petalwidth(cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [17]:
pwd

'C:\\Users\\Saumya\\B2-2M4E BATCH NALAIYA THIRAN'

In [3]:
df.shape

(150, 5)

In [5]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepallength(cm)  150 non-null    float64
 1   sepalwidth(cm)   150 non-null    float64
 2   petallength(cm)  150 non-null    float64
 3   petalwidth(cm)   150 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
X = df.iloc[:,:-1]
X.head()

   sepallength(cm)  sepalwidth(cm)  petallength(cm)  petalwidth(cm)
0              5.1             3.5              1.4             0.2
1              4.9             3.0              1.4             0.2
2              4.7             3.2              1.3             0.2
3              4.6             3.1              1.5             0.2
4              5.0             3.6              1.4             0.2

In [10]:
y = df['class']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [24]:
#train test split

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state= 0)

In [25]:
x_train.shape

(120, 4)

In [26]:
x_test.shape

(30, 4)

In [27]:
# model building
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [28]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [29]:
y_pred=model.predict(x_test)

In [30]:
y_pred1=model.predict(x_train)

In [31]:
# model evaluation
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [32]:
print('Testing accuracy: ',accuracy_score(y_test,y_pred))
print('Training accuracy: ',accuracy_score(y_train,y_pred1))

Testing accuracy:  0.9666666666666667
Training accuracy:  0.95

In [34]:
pd.crosstab(y_test,y_pred)

col_0            Iris-setosa  Iris-versicolor  Iris-virginica
class
Iris-setosa               11                0               0
Iris-versicolor            0               12               1
Iris-virginica             0                0               6

In [35]:
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        11
Iris-versicolor       1.00      0.92      0.96        13
 Iris-virginica       0.86      1.00      0.92         6

       accuracy                           0.97        30
      macro avg       0.95      0.97      0.96        30
   weighted avg       0.97      0.97      0.97        30

In [38]:
# testing with a random observation

model.predict([[1.1,1.2,3.1,2.1]])

array(['Iris-versicolor'], dtype=object)