In [1]:
# using for classification problem.
# Naive baye's based on Baye's theorem fro the classification.

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.shape

(400, 5)

In [6]:
df.Purchased.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [7]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
X=df.iloc[:,1:-1]
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [9]:
y = df.Purchased
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
X.Gender = le.fit_transform(X.Gender)

In [12]:
X.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       0   26            43000
3       0   27            57000
4       1   19            76000

In [13]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()

In [14]:
x_scaled = pd.DataFrame(scale.fit_transform(X),columns= X.columns)
x_scaled.head()

   Gender       Age  EstimatedSalary
0     1.0  0.023810         0.029630
1     1.0  0.404762         0.037037
2     0.0  0.190476         0.207407
3     0.0  0.214286         0.311111
4     1.0  0.023810         0.451852

In [38]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size= 0.2,random_state =1)

In [39]:
df.shape

(400, 5)

In [40]:
x_train.shape

(320, 3)

In [41]:
x_test.shape

(80, 3)

In [50]:
# model building
from sklearn.naive_bayes import GaussianNB
model =GaussianNB()

In [43]:
model.fit(x_train,y_train)

GaussianNB()

In [44]:
# evaluating the model
y_pred = model.predict(x_test)

In [45]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [46]:
accuracy_score(y_test,y_pred)

0.85

In [47]:
y_pred1 = model.predict(x_train)

accuracy_score(y_train,y_pred1)

0.90625

In [48]:
pd.crosstab(y_test,y_pred)

col_0       0   1
Purchased
0          41   7
1           5  27

In [49]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.85      0.87        48
           1       0.79      0.84      0.82        32

    accuracy                           0.85        80
   macro avg       0.84      0.85      0.85        80
weighted avg       0.85      0.85      0.85        80